/* Mobile & Tablet */
@media (max-width: 1023px) {
    .header__hotline {
        display: none;
    }
    .menu_btn {
        display: block;
        width: 42px;
        height: 42px;
        background-color: #409e73;
        border: 1px solid #409e73;
        border-radius: 4px;
        cursor: pointer;
    }
    .menu_btn i {
        font-size: 22px;
        color: #fff;
        padding: 10px;
        margin: auto;
    }
    .header__nav {
        display: none;
    }
    .nav__list {
        display: block;
    }
    .nav__item-bg {
        background-color: #409e73;
        color: #fff;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .header__nav {
        display: block;
    }
    .slide {
        width: 960px;
        height: 500px;
        margin: 0 calc((100% - 960px)/2);
    }
    .prev, 
    .next{
        width: 32px;
        margin: 0 calc((100% - 1024px)/2);
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .header__logo {
        display: none;
    }
    .header__main {
        height: 70px;
    }
}

/* mobile */
@media (max-width: 739px) {
    .header__main {
        height: 50px;
    }
    .logo__img {
        width: 50px;
        height: 50px;
    }
    .header__search {
        display: none;
    }
    .header__cart--title {
        display: none;
    }
    .header__cart {
        width: 42px;
        height: 42px;
    }
    .header__cart i {
        font-size: 20px;
        line-height: 42px;
        padding-left: 8px;
    }
}

